@using CNPMNC_BANHANG.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>Xin chào @ViewBag.UserName</h2>
<a href="/Authentication/Logout">Đăng xuất</a>

