@*@using CNPMNC_BANHANG.Models;
    @using PagedList.Mvc;
    @model PagedList.PagedList<CNPMNC_BANHANG.Models.LOAISANPHAM>*@
@model IEnumerable<CNPMNC_BANHANG.Models.LOAISANPHAM>
@{
    ViewBag.Title = "Loaisanpham";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>DANH MỤC CÁC LOẠI SẢN PHẨM</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Themloaisanpham")
</p>
<table id="table_id" class="table table-hover table-info" border="1">
    <thead>
        <tr class="custom_centered" style="font-size:15px;">
            <th>
                Tên loại
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="font-size:12px;text-align:center;height:40px">
                <td>
                    @Html.DisplayFor(modelItem => item.tenloai)
                </td>
                <td>
                    @if (item.trangthai == true)
                    {<label>Đang hoạt động</label>}
                    else
                    {<label>Ngừng hoạt động</label>}
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Sualoaisanpham", new { id = item.maloai })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').dataTable();
        });
    </script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>

}
@section css
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
}
<style>
    tr.custom_centered th {
        text-align: center;
    }
</style>
@*<div class="center">
        <div class="MenuTrang ">
            <p style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Loaisanpham", new { page = page }))</p>
        </div>
    </div>
    <style>
        .MenuTrang {
            display: inline-block;
        }

            .MenuTrang li {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
                margin: 0 4px;
            }

        .center {
            text-align: center;
        }

        .MenuTrang li.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .MenuTrang li:hover:not(.active) {
            background-color: #ddd;
        }

        tr.custom_centered th {
            text-align: center;
        }
    </style>*@
