<a class="cart_anchor nav-link" href="@Url.Action("Giohang","Giohang")" style="color:white; font-weight:bold; text-decoration:none;">
    <div><img src="~/img/giohang.png" class="" /> Giỏ hàng (@ViewBag.Tongsoluong)</div>
</a>

